doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PUG File 1
    body
        h1 JEEL Patel 
        h1 Hello World 
        H1 Exam is Comming 
        H1 SSSSSSSSuuuuuuuuuuuIIIIIIII