doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PUG File 1
        style. 
            h1 {
                color: red;
            }

            ul {
                list-style-type: none;
                font-size: xx-large;
            }

            p {
                text-transform: uppercase;
                color: blue;
            }

    body
        h1 JEEL Patel
        h1 Hello World 
        h1 Exam is Comming 
        h1 SSSSSSSSuuuuuuuuuuuIIIIIIII

        -var list = ["ABC" , "123" , "DEF"] 
        h1=list[1]

        ul 
            li ABC 
            li DEF 
            li GHI 

        p.
            We are testing here tag interpolation in pug.js
            where  #[b all the content will be bold] and
            #[u this text will be underlined].

        table(style='width:100%', border='1')
            tr
                th Id
                th Name
                th Age
            tr
                td 001
                td Jeel
                td 25
            tr
                td 002
                td Dwij
                td 27
            tr
                td 003
                td Harsh
                td 80

        br
        br

        form(action="/about", method="get")
            label(for="username") Username 
            input(type="text", name="username") 
            br
            label(for="password") Password 
            input(type="text", name="password")
            br  
            input(type="submit", value="Submit") 