doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PUG File 1
        style. 
            h1 {
                color: red;
            }

            ul {
                list-style-type: none;
                font-size: xx-large;
            }

            p {
                text-transform: uppercase;
                color: blue;
            }
    body
        h1 JEEL Patel
        h1 Hello World 
        h1 Exam is Comming 
        h1 SSSSSSSSuuuuuuuuuuuIIIIIIII

        ul 
            li ABC 
            li DEF 
            li GHI 

        p qwertyuiadsfghj asdfkjlzasxdcfv sdfghfdshygjyhe 