{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for news in news %}
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h5 class="card-title">{{ news.headline}}</h5>
                    <p class="card-text">{{ news.body }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{ news.date }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
</body>

</html>